<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.b2c.mapper.ProductCategoryMapper">
  <resultMap id="BaseResultMap" type="com.max.b2c.model.ProductCategory">
    <id column="category_id" jdbcType="INTEGER" property="category_id" />
    <result column="category_name" jdbcType="VARCHAR" property="category_name" />
    <result column="parent_id" jdbcType="INTEGER" property="parent_id" />
    <result column="sort_order" jdbcType="INTEGER" property="sort_order" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmt_create" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmt_modified" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="nav_status" jdbcType="INTEGER" property="nav_status" />
    <result column="show_status" jdbcType="INTEGER" property="show_status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    category_id, category_name, parent_id, sort_order, gmt_create, gmt_modified, level, 
    nav_status, show_status
  </sql>
  <select id="selectByExample" parameterType="com.max.b2c.model.ProductCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_category
    where category_id = #{category_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_category
    where category_id = #{category_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.max.b2c.model.ProductCategoryExample">
    delete from product_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.max.b2c.model.ProductCategory">
    insert into product_category (category_id, category_name, parent_id, 
      sort_order, gmt_create, gmt_modified, 
      level, nav_status, show_status
      )
    values (#{category_id,jdbcType=INTEGER}, #{category_name,jdbcType=VARCHAR}, #{parent_id,jdbcType=INTEGER}, 
      #{sort_order,jdbcType=INTEGER}, #{gmt_create,jdbcType=TIMESTAMP}, #{gmt_modified,jdbcType=TIMESTAMP}, 
      #{level,jdbcType=INTEGER}, #{nav_status,jdbcType=INTEGER}, #{show_status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.max.b2c.model.ProductCategory">
    insert into product_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="category_id != null">
        category_id,
      </if>
      <if test="category_name != null">
        category_name,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
      <if test="sort_order != null">
        sort_order,
      </if>
      <if test="gmt_create != null">
        gmt_create,
      </if>
      <if test="gmt_modified != null">
        gmt_modified,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="nav_status != null">
        nav_status,
      </if>
      <if test="show_status != null">
        show_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="category_id != null">
        #{category_id,jdbcType=INTEGER},
      </if>
      <if test="category_name != null">
        #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="sort_order != null">
        #{sort_order,jdbcType=INTEGER},
      </if>
      <if test="gmt_create != null">
        #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="nav_status != null">
        #{nav_status,jdbcType=INTEGER},
      </if>
      <if test="show_status != null">
        #{show_status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.max.b2c.model.ProductCategoryExample" resultType="java.lang.Integer">
    select count(*) from product_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_category
    <set>
      <if test="record.category_id != null">
        category_id = #{record.category_id,jdbcType=INTEGER},
      </if>
      <if test="record.category_name != null">
        category_name = #{record.category_name,jdbcType=VARCHAR},
      </if>
      <if test="record.parent_id != null">
        parent_id = #{record.parent_id,jdbcType=INTEGER},
      </if>
      <if test="record.sort_order != null">
        sort_order = #{record.sort_order,jdbcType=INTEGER},
      </if>
      <if test="record.gmt_create != null">
        gmt_create = #{record.gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmt_modified != null">
        gmt_modified = #{record.gmt_modified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.nav_status != null">
        nav_status = #{record.nav_status,jdbcType=INTEGER},
      </if>
      <if test="record.show_status != null">
        show_status = #{record.show_status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_category
    set category_id = #{record.category_id,jdbcType=INTEGER},
      category_name = #{record.category_name,jdbcType=VARCHAR},
      parent_id = #{record.parent_id,jdbcType=INTEGER},
      sort_order = #{record.sort_order,jdbcType=INTEGER},
      gmt_create = #{record.gmt_create,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmt_modified,jdbcType=TIMESTAMP},
      level = #{record.level,jdbcType=INTEGER},
      nav_status = #{record.nav_status,jdbcType=INTEGER},
      show_status = #{record.show_status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.max.b2c.model.ProductCategory">
    update product_category
    <set>
      <if test="category_name != null">
        category_name = #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        parent_id = #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="sort_order != null">
        sort_order = #{sort_order,jdbcType=INTEGER},
      </if>
      <if test="gmt_create != null">
        gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="nav_status != null">
        nav_status = #{nav_status,jdbcType=INTEGER},
      </if>
      <if test="show_status != null">
        show_status = #{show_status,jdbcType=INTEGER},
      </if>
    </set>
    where category_id = #{category_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.max.b2c.model.ProductCategory">
    update product_category
    set category_name = #{category_name,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=INTEGER},
      sort_order = #{sort_order,jdbcType=INTEGER},
      gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=INTEGER},
      nav_status = #{nav_status,jdbcType=INTEGER},
      show_status = #{show_status,jdbcType=INTEGER}
    where category_id = #{category_id,jdbcType=INTEGER}
  </update>
</mapper>